<h1>This is the 'Show' page for Boards...</h1>
<p>You're really not supposed to be here...you should be at the 'Lists' index for this board. So, go back into your code and figure out where the you took a left at Albuquerque...'
<%= link_to 'Back to Boards', boards_path %>